{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "globals": {
    "locale": false,
    "window": false,
    "document": false,
    "FormData": false,
    "API_ADDRESS": false,
    "rendererCreateWithProviders": false,
    "mountWithIntl": false,
    "shallowWithIntl": false
  },
  "rules": {
    "array-bracket-spacing": "error",
    "array-callback-return": "error",
    "array-element-newline": ["error", "consistent"],
    "arrow-parens": "error",
    "arrow-spacing": "error",
    "block-spacing": "error",
    "block-scoped-var": "error",
    "brace-style": "error",
    "class-methods-use-this": "error",
    "comma-dangle": ["error", "always-multiline"],
    "comma-spacing": "error",
    "comma-style": "error",
    "complexity": [
      "error",
      {
        "max": 50
      }
    ],
    "computed-property-spacing": "error",
    "consistent-this": ["error", "self"],
    "curly": "error",
    "eol-last": "error",
    "eqeqeq": "error",
    "func-call-spacing": ["error", "never"],
    "func-names": ["error", "never"],
    "function-paren-newline": ["error", "consistent"],
    "func-style": "error",
    "generator-star-spacing": "error",
    //        "import/no-unresolved": "error",
    //        "import/no-unused-modules": "error",
    "key-spacing": "error",
    "keyword-spacing": "error",
    "linebreak-style": "error",
    "lines-between-class-members": "error",
    "max-statements-per-line": "error",
    "multiline-ternary": ["error", "always-multiline"],
    "new-cap": [
      "error",
      {
        "capIsNew": false
      }
    ],
    "new-parens": "error",
    // "newline-per-chained-call": ["error", { "ignoreChainWithDepth": 2 }],
    "no-alert": "warn",
    "no-array-constructor": "error",
    "no-bitwise": "error",
    "no-confusing-arrow": [
      "error",
      {
        "allowParens": true
      }
    ],
    "no-duplicate-imports": "error",
    "no-else-return": "error",
    "no-eq-null": "error",
    "no-eval": "error",
    "no-extend-native": "error",
    "no-extra-bind": "error",
    "no-lonely-if": "error",
    "no-misleading-character-class": "error",
    "no-mixed-operators": "error",
    "no-multi-assign": "error",
    "no-prototype-builtins": "error",
    "no-template-curly-in-string": "error",
    "no-floating-decimal": "error",
    "no-implicit-globals": "error",
    "no-implied-eval": "error",
    "no-invalid-this": "error",
    "no-label-var": "error",
    "no-lone-blocks": "error",
    "no-loop-func": "error",
    "no-multi-spaces": "error",
    "no-multi-str": "error",
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1,
        "maxBOF": 0,
        "maxEOF": 1
      }
    ],
    "no-nested-ternary": "error",
    "no-new": "error",
    "no-new-func": "error",
    "no-new-object": "error",
    "no-new-wrappers": "error",
    "no-octal-escape": "error",
    "no-proto": "error",
    "no-restricted-globals": "error",
    "no-restricted-imports": "error",
    "no-restricted-properties": "error",
    "no-return-assign": "error",
    "no-return-await": "error",
    "no-script-url": "error",
    "no-self-compare": "error",
    "no-sequences": "error",
    "no-shadow": "error",
    "no-shadow-restricted-names": "error",
    "no-tabs": "error",
    "no-throw-literal": "error",
    "no-trailing-spaces": "error",
    "no-undefined": "error",
    "no-unneeded-ternary": "error",
    "no-unmodified-loop-condition": "error",
    "no-unused-expressions": "error",
    "no-useless-call": "error",
    "no-useless-catch": "error",
    "no-useless-computed-key": "error",
    "no-useless-concat": "error",
    "no-useless-rename": "error",
    "no-useless-return": "error",
    "no-var": "error",
    "no-void": "error",
    "no-whitespace-before-property": "error",
    "no-with": "error",
    "object-curly-newline": [
      "error",
      {
        "multiline": true,
        "consistent": true
      }
    ],
    "object-curly-spacing": "error",
    "object-property-newline": [
      "error",
      {
        "allowAllPropertiesOnSameLine": true
      }
    ],
    "one-var-declaration-per-line": "error",
    "operator-linebreak": "error",
    "padded-blocks": ["error", "never"],
    "padding-line-between-statements": [
      "error",
      {
        "blankLine": "always",
        "prev": "*",
        "next": ["return", "if", "for", "do", "function", "block-like", "block", "switch", "while", "try"]
      },
      {
        "blankLine": "always",
        "prev": ["if", "for", "do", "function", "block-like", "block", "switch", "while", "try"],
        "next": "*"
      }
    ],
    "prefer-arrow-callback": "error",
    "prefer-const": "error",
    "prefer-numeric-literals": "error",
    "prefer-object-spread": "error",
    "prefer-promise-reject-errors": "error",
    // "prefer-rest-params": "error",
    "prefer-spread": "error",
    // "prefer-template": "error",
    "quote-props": ["error", "consistent"],
    "quotes": ["error", "single"],
    "radix": "error",
    "react/display-name": "off",
    // Checks effect dependencies
    "require-await": "error",
    "rest-spread-spacing": "error",
    "semi": "error",
    "semi-spacing": "error",
    "semi-style": "error",
    "space-before-blocks": "error",
    "space-before-function-paren": ["off", "never"],
    "space-in-parens": "error",
    "space-infix-ops": "error",
    "space-unary-ops": "error",
    "spaced-comment": "error",
    "strict": "error",
    "switch-colon-spacing": "error",
    "symbol-description": "error",
    "template-curly-spacing": "error",
    "vars-on-top": "error",
    "wrap-iife": "error",
    "yield-star-spacing": "error",
    "yoda": "error",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["off"],
    "@typescript-eslint/explicit-function-return-type": ["off"]
  }
}
