.tab-set {
  margin: 0 0 10px;
  padding: 15px;
  background-color: #ffffffe3;
  border-radius: 5px;
  min-width: 600px;
  display: grid;
  grid-template-columns: 1fr 50px;
  grid-template-rows: auto;
  grid-template-areas: 
    "header meta"
    "body   meta";
  a {
    color: #0e0e0ebd;
  }
  .header {
    grid-area: header;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .counter {
      font-size: 1.5rem;
      width: 95px;
    }
    .control {
      flex-grow: 1;
      .control-row {
        line-height: 17px;
      }
  
      .actions {
        flex-grow: 1;
        display: flex;
        justify-content: flex-start;
        .action {
          cursor: pointer;
          padding-right: 15px;
          text-transform: capitalize;
        }
      }
    }
  }

  .body {
    grid-area: body;
    margin-top: 15px;
  
    .tab-item {
      display: grid;
      grid-template-columns: 35px 25px 1fr;
      align-items: center;
      line-height: 26px;
      .item-delete {
        font-size: 15px;
        padding: 5px;
        &:hover {
          color: red;
        }
      }
      cursor: pointer;
      img{
        width: 16px;
        height: 16px;
      }
    }
    
    a:-webkit-any-link {
      text-decoration: none;
    }
  }
  .meta {
    height: 100%;
    grid-area: meta;
    display: grid;
    grid-template-rows: 53px 30px 30px;
    justify-items: center;
    align-items: center;
    .calender {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 3px;
      .month,.day {
        padding: 2px 1px;
        width: 30px;
        text-align: center;
        font-weight: 700;
      }
      .month {
        @month-color: #f16413;
        background-color: @month-color;
        border-left: 1px solid @month-color;
        border-right: 1px solid @month-color;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        color: #ffffff;
        font-size: 10px;
        text-transform: uppercase;
      }
      .day {
        @day-color: #bdbcbb;
        border-left: 1px solid @day-color;
        border-right: 1px solid @day-color;
        border-bottom: 1px solid @day-color;
        font-size: 16px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
      }
    }
    .icon {
      color: #0000008c;
      font-size: 20px;
    }
  }
}
