.tab-set {
  margin: 0 0 10px;
  background-color: #fffefee6;
  border-radius: 5px;
  min-width: 600px;
  min-height: 135px;
  display: grid;
  grid-template-columns: 1fr 94px;
  grid-template-rows: auto;
  grid-template-areas: 
    "header header"
    "body   meta";
  a {
    color: #0e0e0ebd;
  }
  .header {
    grid-area: header;
    display: grid;
    grid-template-columns: 23px 1fr repeat(4, 40px);
    align-items: center;
    background: #ffffff8a;
    border-bottom: 1px solid #dedede;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 15px 15px 13px 15px;
    margin-bottom: 15px;
    .counter {
      font-size: 1.5rem;
      padding: 0 15px;
    }
    .icon {
      padding-right: 15px;
      cursor: pointer;
      font-size: 25px;
      text-transform: capitalize;
      color: #989696;
      &:hover {
        color: darkorange;
      }
    }
    .icon.selected {
      color: darkorange;
    }
    .icon.disabled {
      cursor: not-allowed;
      color: #dedede;
      font-weight: 200;
    }
  }

  .body {
    grid-area: body;
    padding: 0 15px 15px;
  
    .tab-item {
      display: grid;
      grid-template-columns: 35px 25px 1fr;
      align-items: center;
      line-height: 26px;
      .item-delete {
        font-size: 15px;
        padding: 5px;
        color: #9c9a9aa8;
        &:hover {
          color: red;
        }
      }
      .item-delete.disabled {
        cursor: not-allowed;
      }
      cursor: pointer;
      img{
        width: 16px;
        height: 16px;
      }
    }
    
    a:-webkit-any-link {
      text-decoration: none;
    }
  }
  .meta {
    height: 100%;
    grid-area: meta;
    display:flex;
    justify-items: center;
    align-items: center;

    .icon {
      color: #0000008c;
      font-size: 20px;
    }
  }
}
