.sidebar {
  -webkit-box-shadow: 6px -3px 6px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px -3px 6px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 6px -3px 6px -5px rgba(0, 0, 0, 0.75);
  position: fixed;
  background-color: #ffffff;
  height: 100vh;
  padding: 15px;
  width: 180px;

  // hide the sidebar on the left
  left: -210px;
  transition: all 0.75s ease; // animation effect with ease 0.75s
}
.sidebar.open {
  // move from -210px left to 0px, to show sidebar
  left: 0px;
}
