
.input-wrapper {
  display: grid;
  grid-template-columns: 1fr 25px;
  gap: 15px;
  justify-content: space-between;
  padding: 5px 15px;
  width: 360px;
  background-color: #4e5d5670;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;

  span.icon-search1 {
    color: #ffffff;
    font-size: 20px;
  }

  input {
    outline: 1px solid ye;
    width: 100%;
    line-height: 24px;
    font-size: 20px;
    padding: 0;
    border: 0;
    outline: none;
    background-color: transparent;
    color: #ffffff;
  }
}
.input-wrapper:focus-within {
  background-color: #4e5d56;
}
